<!-- LECTURE FORM START -->
<div class="lecture-form row">
  <h3>Lecture information</h3>
  <div class="lecture">

    <div class="form-group row">
      <label for="lecture-name" class="col-xs-2 col-xs-form-label">Lecure name</label>
      <div class="col-xs-10">
        <input type="text" class="form-control col-xs-10" name="lecture-name">
      </div>
    </div>

    <div class="form-group row">
      <label for="lecture-url" class="col-xs-2 col-xs-form-label">Lecure URL</label>
      <div class="col-xs-10">
        <input type="url" class="form-control col-xs-10" name="lecture-url">
      </div>
    </div>
    <!-- add button start-->
    <div class="form-group row">
      <button class="btn btn-default btn-add" type="button">+</button>
    </div>
    <!-- add button finish-->

  </div>
</div>
<!-- LECTURE FORM END -->
